<dev>
	<h3> 여름이는 자신의 짝을 찾고 싶어합니다. </h3>
	<% if user_signed_in?%>
	<%= link_to '시작하기', show_user_path(current_user.id)%>
	<% else%>
	<%= link_to '시작하기', new_user_session_path%>
	<% end%>
</dev>

<dev>
	<h4> 서비스 소개 </h4>
	<p> 개만다는 사랑이 필요한 강아지에게 어울리는 짝을 찾아주는 서비스예요. 우리가 사랑하는 강아지의 행복에 기여하는 것이 개만다의 목적이랍니다! </p>
</dev>

<dev>
	<h4> 이용방법 </h4>
	<p> 1. 강아지 프로필을 등록해주세요. </p> <td>
	<p> 2. 강아지와 함께 짝을 선택해주세요. </p> <td>
	<p> 3. 상대 견주와 연락하여 만남을 주선하세요 </p> <td>
</dev>

<dev>
	<h4> 매칭 현황 </h4>
</dev>