
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
.salmon {
    color: salmon;
}

.font-han {
    font-family: 'Black Han Sans', sans-serif;
}
.img {
    height: 50px;
    width: auto;

}

.summer {
    width: 100%;
    height: auto;
}

.img-thumbnail rounded float-left {
    margin-right: 20px;
}

.lalala {
    position: absolute;
    width: 560px;
    height:  350px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    top: 130px;
    left: 0px;
}

.lululu {
    position: absolute;
    top: 30px;
    left: 0px;
    font-size: 50px;
    margin-left: 20px;
}

.lilili {
    position: absolute;
    margin-top: 260px;
    margin-left: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

.second {
    margin-left: 80px;
    margin-right: 40px;
}

.info-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.third {
    margin-left: 80px;
    margin-right: 40px;
    background-color: lightyellow;
    background-size: 100%;
}

.fourth {
    margin-left: 80px;
    margin-right: 40px;
}

.login-logo {
    height: 40px;
    width: auto;
    margin-bottom: 5px;
}

.rounded-1 {
    weight: 150px;
    height: 150px;
}

.third-text {
    margin-bottom: 10px;
    text-align: center;
    font-size: 15pt;
}

.box {
    background-color: white;
    width: 600px;
    height: 370px;
    display: flex;
    justify-content: center;
    border: solid rgb(217, 217, 217) 3px;
    border-radius: 5%;
    margin: auto;
    margin-top: 40px;
}
.box-2 {
    background-color: white;
    width: 600px;
    display: flex;
    justify-content: center;
    border: solid rgb(217, 217, 217) 1px;
    border-radius: 5%;
    margin: auto;
    margin-top: 40px;
}
.user-box {
    background-color: white;
    width: 700px;
    height: 200px;
    border: solid rgb(217, 217, 217) 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.footer {
    margin-top: 10px;
}

.mr-4 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.copyright {
    font-size: 9pt;
    margin-top: 10px;
    text-align: center;
}